/* CSS 주석처리 
    선택자{속성명 : 속성값; 속성명 : 속성값;}
*/
/* 전체선택자 */
*{
    border: solid 3px red;      /*테두리: 선종류 선굵기 선색상*/
    padding: 10px;                /* 안쪽 여백 */
}
/* 클래스선택자*/
.box1{
    border-top: solid 1px yellow;/*위쪽 테두리*/
    border-right: solid 2px blue;
    border-left: dotted 3px black;
    border-bottom: double 4px green;
    border-radius: 5px 10px 15px 20px;            /*왼쪽 상단부터 오른쪽 상단 오른쪽 하단 왼쪽 하단 순서로 둥근모서리*/
    box-shadow: 3px 4px 1px red;/*구역 그림자 : x축 y축 흐림정도 색상*/
    text-align: center;
    width: 100px;       /* 가로 사이즈 */
    height: 100px;      /* 세로 사이즈 */
}
.img1{
    width: 100px;       /* 이미지 사이즈 */
}
.box2{
    text-align: center;
}
.box2 > input{ 
    width: 100px;
    height: 20px;
    border-radius: 10px;
}
.box3{
    padding: 10px;      /* 안쪽여백 : 구역테두리 기준으로 안쪽 여백*/
    margin: 10px;       /* 바깥여백 : 구역테두리 기준으로 바깥 여백*/
}
.box4{
    padding: 10px 15px 20px 25px;      /* 위, 우, 아래, 왼 */
    margin: 10px 20px;       /* 위/아래 , 왼/오 */
}
.box5{
    margin: auto;       /* 바깥여백의 왼/오른쪽 구역을 auto 설정 */
    width: 50px;        /* 가로 사이즈, 주의할점: 생략시 100%*/
    color: red;
    background-color: black;
}
.s1{       
    display: inline;                /*sapn,a 등등 마크업 기본값*/
    width: 100px; height: 100px;    /* 구역사이즈 설정 불가*/
    padding: 20px; /*왼/오 만 적용*/
    margin: 20px;  /*왼/오 만 적용*/
}
.s2{
    display: block;             /*div,h 등등 마크업 기본값*/
    width: 100px; height: 100px;
    padding: 20px; margin: 20px;
}
.s3{
    display: inline-block;      /*input 등등 마크업 기본값*/
    width: 100px; height: 100px;
    padding: 20px; margin: 20px;
}
.s4{
    display: none; /* 숨기기 표시안함*/
}
/* 복수선택자: , 구분해 여러개 선택자*/
.box6, .box7{
    width: 500px;
    padding: 20px;
}
/*box-sizing : content-box : 컨텐츠*/
.box6{box-sizing: content-box;}
/*box-sizing : border-box : 컨텐츠 + 안쪽여백 (권장)*/
.box7{box-sizing: border-box;}