*{border: 1px solid red;}

#header{
    width: 1280px;
    margin: 0 auto;
}

#main{
    width: 1280px;
    margin: 0 auto;
}

/* 자주 사용되는 기본 css */
*{
    box-sizing: border-box;
    padding: 0px; margin: 0px;  /* 기본 여백 제거 */    
}
a{
    text-decoration: none;  /* a하이퍼링크 밑줄 제거 */
    color: black;         
}
li{
    list-style-type: none;  /* li 항목 글머리 제거 */
}
/* [1] header */
#header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;    /* 세로 정렬 */
}

.top-menu{
    display: flex;
    justify-content: end;
    margin: 10px 0px;
}

.main-menu{
    display: flex;
    justify-content: end;
    margin: 20px 0px;
}

.a{
    font-size: 30px;
}