*{border: 1px solid red;}

#header{
    width: 1280px;
    margin: 0 auto;
}

#main{
    width: 1280px;
    margin: 0 auto;
}

/* 자주 사용되는 기본 css */
*{
    box-sizing: border-box;
    padding: 0px; margin: 0px;  /* 기본 여백 제거 */    
}
a{
    text-decoration: none;  /* a하이퍼링크 밑줄 제거 */
    color: black;         
}
li{
    list-style-type: none;  /* li 항목 글머리 제거 */
}
/* ================[1] header================ */
#header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;    /* 세로 정렬 */
}

.top-menu{
    display: flex;
    justify-content: end;
    margin: 10px 0px;
}

.main-menu{
    display: flex;
    justify-content: end;
    margin: 20px 0px;
}
.top-menu > li{
    margin-left: 10px;
}

.main-menu > li{
    margin-left: 50px;
    font-size: 20px;    
    font-weight: bold;
}
/* ================[2] main_img================ */
#main_img > img{
    width: 100%;
}
/* ================[3] main================ */
#main{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.sidebar{
    width: 220px;
}
.sidebar > h3{
    background-color: #808080;
    color: white;
    padding: 10px;
}
.sidebar > ol > li{
    padding: 10px ;
    border-bottom: 1px solid #eeeeee;
}
.content{
    width: 1030px;
}
/* ================[4] footer================ */
#footer{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    background-color: black;
}